<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
<title>Photo Gallery</title>
</head>
<body>

    <img src="/cat-work.jpg" alt="Paint" width="400" height="400">
    <img src="/cat-paintingk.jpeg" alt="Paint" width="400" height="400">
    <img src="/elgrito.jpeg" alt="Paint" width="400" height="400">
    <img src="/vang.jpeg" alt="Paint" width="400" height="400">
    <img src="/wave.png" alt="Paint" width="400" height="400">
    <img src="/clintt.jpeg" alt="Paint" width="400" height="400">   

</body>
</html>