body {
    background-color: powderblue;
  }
  a{
    color: black;
    font-family: Verdana;
  }
  h1 {
    color: rgb(43, 43, 177);
  }
  p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
  }